/**
 * Created by apple on 17/3/22.
 */
*{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.home{
    width: 100%;
    height: 100%;
}

.homeHeader{
    width: 100%;
    height: 140px;
    box-shadow: 0px 0 0px #FFFFFF, /*左边阴影*/
    0px 0 0px #FFFFFF, /*右边阴影*/
    0 0px 0px #FFFFFF, /*顶部阴影*/
    0 5px 5px #6F4C2B; /*底边阴影*/
    margin:0 auto;
    background:url("../img/naviBackImage.png");
    background-size: auto;
}

.homefooter{
    /*background-color: #00FF00;*/
    width: 100%;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-top: 20px;
}

.homeHeaderDiv{
    /*background-color: #00FF00;*/
    width: 600px;
    height: 100%;
    margin:0 auto
}

.fontCss {
    margin-left: 40px;
    font-family:"微软雅黑";
    font-weight:bold;
    font-size: 30px;
    color: #FFFFFF;
}
